.instractBanner{
    background-image: url('../../assets/summer-dark-orange-bg@2x-1.png');
    background-position: center;
    
}
.banner{
    background-image: url('../../assets/pattern-blue@2x.png');
    background-position: center;
    
}