@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Josefin+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




/* body{
    font-family: 'Cormorant Upright', serif;
} */

h1, h2, h3, h4{
    font-family: 'Grand Hotel', cursive;
}

.drawer-side a.active{
    color: white;
    background-color: #C0E246;
    font-weight: 700;
}
